table {
  width: 100%;
}

.message {
margin: auto;
width: fit-content;
position: relative;
top: 20%;
}

.table {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
